{% extends 'homepage/index.html' %}
{% block content %}
<p>Movie list</p>
<ul>
        {% if current_page == 1 %}
            <li>
                <a  href="#">Previous</a></li>
        {% else %}
            <li>
                <a href="{{ url_for('movies.index', page=current_page - 1, items=items_per_page) }}">Previous</a></li>
        {% endif %}
        <li>
                <a class="button-next" href="{{ url_for('movies.index', page=current_page + 1, items=items_per_page) }}">Next</a></li>
</ul>
 {% for movie in movies %}
    <p><a href="{{ movie.id }}">{{ movie.title }}</a></p>
{% endfor %}
<br>
<a href="/movies/new">Add new movie</a>

{% endblock %}
