{% extends 'homepage/index.html' %}
{% block content %}
<p>Actors list</p>
<ul id="actors">
    {% if current_page == 1 %}
            <li>
                <a  href="#">Previous</a></li>
    {% else %}
            <li>
                <a href="{{ url_for('actors.index', page=current_page - 1, items=items_per_page) }}">Previous</a></li>
    {% endif %}
     <li>
                <a class="button-next" href="{{ url_for('actors.index', page=current_page + 1, items=items_per_page) }}">Next</a></li>
</ul>

    {% for actor in actors %}
            <p><a href="{{ url_for('actors.show', id=actor.id) }}">{{ actor["name"] }}</a></p> 
    {% endfor %}

<hr>
<a href="/actors/new">Add new actor</a>
{% endblock %}

